{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center h-100">
        <div class="row">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
